.App {
  text-align: center;
}

.App-header {
  background-color: #318798;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin: 0;
}

.nav-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ac2e6b;
  color: #c32e2e;
  border: 2px solid #333;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
  background-color: #3dcf5a;
  color: #1d7583;
}

.book-search-page,
.personal-bookshelf-page {
  margin: 20px;
}

.search-results,
.bookshelf {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  width: 200px;
}

.book-card h3 {
  margin-top: 0;
}

.book-card button {
  margin-top: 10px;
}
